:root {
  --line-height: 2;
  --main-color: rgb(9 9 11);
  --sub-color: rgb(176 171 178);
  --text-stroke-weight: 0.01em;
  --text-decoration-thickness: 0.04em;
  --text-decoration-offset: 0.25em;
}

body {
  margin: 5em 2.4em;
  -webkit-font-smoothing: antialiased;
  font-family: aktiv-grotesk, a-otf-gothic-bbb-pr6n, sans-serif;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  font-feature-settings: "palt";
  letter-spacing: 0.12em;
  line-height: var(--line-height);
}

.typeset {
  /* for Safari Font Rendering 😭 */
  -webkit-text-stroke: 0.000000000000000001px transparent;
}

.typeset-latin {
  --font-size-latin: 106%;
  font-size: var(--font-size-latin);
  line-height: calc(var(--line-height) / var(--font-size-latin));
  -webkit-text-stroke: var(--text-stroke-weight) var(--main-color);
  letter-spacing: 0.05em;
}

a {
  color: var(--main-color);
  text-decoration: underline;
  text-decoration-thickness: var(--text-decoration-thickness);
  text-underline-offset: var(--text-decoration-offset);
}

a:hover {
  text-decoration: none;
}

/* トグルスイッチのスタイル */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 2.4em;
}

/* スイッチのスライダー部分 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* 丸みを帯びたスライダー */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* オプションのチェックボックス */
#options {
  margin-bottom: 4rem;
}

#options .option {
  display: inline-block;
}

#options .option label {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 400;
  color: rgb(63 63 70);
}

#options .option input:disabled + label {
  color: var(--sub-color);
}

/* テキスト内のチェックボックス */
#target input {
  display: none;
}

/* チェックボックスがチェックされていないときのテキストスタイル */
#target label {
  cursor: pointer;
  color: var(--sub-color);
}

#target label .typeset-latin {
  cursor: pointer;
  color: var(--sub-color);
  -webkit-text-stroke: var(--text-stroke-weight) var(--sub-color);
}

/* チェックボックスがチェックされていないときのホバースタイル */
#target label:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 0.04em;
  text-decoration-color: var(--text-decoration-thickness);
  text-underline-offset: var(--text-decoration-offset);
}

/* チェックボックスがチェックされているときのテキストスタイル */
#target input:checked + label {
  color: var(--main-color);
}

#target input:checked + label .typeset-latin {
  color: var(--main-color);
  -webkit-text-stroke: var(--text-stroke-weight) var(--main-color);
}

/* チェックボックスがチェックされているときのホバースタイル */
#target input:checked + label:hover {
  color: var(--main-color);
  text-decoration-color: var(--main-color);
}
